@using KonkurCRM.Core.Convertor
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model KonkurCRM.Core.DTOs.Call.NotCalledViewModel

@{
    ViewData["Title"] = "شماره ها";
}

<div id="root">
    <div id="nav" class="nav-container d-flex">
        <div class="nav-content d-flex">
            <!-- Logo Start -->
            <partial name="_Logo" />
            <!-- Logo End -->
            <!-- User Menu Start -->
            <partial name="_SidebarUserMenu" />
            <!-- User Menu End -->
            <!-- Icons Menu Start -->
            <partial name="_SidebarIconMenu" />
            <!-- Icons Menu End -->
            <!-- Menu Start -->
            <partial name="_SidebarMenu" />
            <!-- Menu End -->
            <!-- Mobile Buttons Start -->
            <div class="mobile-buttons-container">
                <!-- Menu Button Start -->
                <a href="#" id="mobileMenuButton" class="menu-button">
                    <i data-cs-icon="menu"></i>
                </a>
                <!-- Menu Button End -->
            </div>
            <!-- Mobile Buttons End -->
        </div>
        <div class="nav-shadow"></div>
    </div>

    <main>
        <div class="container">
            <!-- Title and Top Buttons Start -->
            <div class="page-title-container">
                <div class="row">
                    <!-- Title Start -->
                    <div class="col-auto mb-3 mb-md-0 me-auto">
                        <div class="w-auto sw-md-30">
                            <a href="/adminpanel" class="muted-link pb-1 d-inline-block breadcrumb-back">
                                <i data-cs-icon="chevron-left" data-cs-size="13"></i>
                                <span class="text-small align-middle">پیشخوان</span>
                            </a>
                            <h1 class="mb-0 pb-0 display-4" id="title">لیست شماره ها</h1>
                        </div>
                    </div>
                    <!-- Title End -->
                    <!-- Top Buttons Start -->
                    <div class="w-100 d-md-none"></div>
                    <div class="col-12 col-sm-6 col-md-auto d-flex align-items-end justify-content-end mb-2 mb-sm-0 order-sm-3">
                        <div class="d-flex flex-row justify-content-between w-100 w-sm-50 w-xl-100 mb-5">
                            <a href="/AdminPanel/AddCallNumber" class="btn btn-outline-primary w-100 me-2">بارگزاری جدید</a>
                            <a id="btnDedicateHide" class="btn btn-outline-danger w-100 me-2" style="border-top-right-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: var(--border-radius-md);border-bottom-left-radius: var(--border-radius-md);">اختصاص به مشاور</a>
                        </div>
                    </div>
                    <!-- Top Buttons End -->
                </div>
            </div>
            <!-- Title and Top Buttons End -->
            <!-- Controls Start -->
            <div class="row mb-2">
                <!-- Search Start -->
                <div class="col-sm-12 col-md-5 col-lg-3 col-xxl-2 mb-1">
                    <div class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 shadow bg-foreground">
                        <input type="datetime" class="form-control" id="txtDate" placeholder="تاریخ" data-mddatetimepicker="true" data-placement="right" data-englishnumber="true" />
                        <span class="search-magnifier-icon">
                            <i data-cs-icon="search"></i>
                        </span>
                        <span class="search-delete-icon d-none">
                            <i data-cs-icon="close"></i>
                        </span>
                    </div>
                </div>
                <!-- Search End -->
                <div id="divDedicate" class="col-sm-12 col-md-5 col-lg-3 col-xxl-2 mb-1">
                    <div class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 shadow bg-foreground">
                        <select id="sAdviser" class="form-control" name="adviserId" asp-items="@(ViewData["advisers"] as SelectList)"></select>
                        <a id="btnDedicate" class="btn btn-outline-primary w-100 me-2">اختصاص شماره ها</a>
                    </div>
                </div>
            </div>
            <!-- Controls End -->
            <!-- Customers List Start -->
            <div id="tableAdvisers" class="row">
                <div class="col-12 mb-5">
                    <div class="card mb-2 bg-transparent no-shadow d-none d-lg-block">
                        <div class="row g-0 sh-3">
                            <div class="col">
                                <div class="card-body pt-0 pb-0 h-100">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div class="col-6 col-lg-5 d-flex align-items-center text-alternate text-medium text-muted text-small">شماره</div>
                                        <div class="col-6 col-lg-5 d-flex align-items-center text-alternate text-medium text-muted text-small">تاریخ</div>
                                        <div class="col-6 col-lg-2 d-flex align-items-center text-alternate text-medium text-muted text-small">انتخاب</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="checkboxTable" class="salary-container">
                        @foreach (var items in Model.InformationNotCalled)
                        {

                            <div class="card mb-2">
                                <div class="card-body pt-0 pb-0 sh-30 sh-lg-8">

                                    <div class="row g-0 h-100 align-content-center">
                                        <div class="col-6 col-lg-5 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-5 order-lg-3">
                                            <div class="text-muted text-small d-lg-none"></div>
                                            <div class="text-alternate">
                                                @items.Number
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-5 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-5 order-lg-3">
                                            <div class="text-muted text-small d-lg-none"></div>
                                            <div class="text-alternate">
                                                @items.AddDate.ToShamsi()
                                            </div>
                                        </div>
                                        <div class="col-1 col-lg-2 d-flex flex-column justify-content-center align-items-lg-end mb-2 mb-lg-0 order-2 text-end order-lg-last">
                                            <label class="form-check float-end mt-1">
                                                <input type="checkbox" class="form-check-input my-checked" data-id="@items.NotCalledId" data-adviserId="@items.AdviserId" data-number="@items.Number" />
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        <!-- Pagination Start -->

                        <partial name="_PaginationPages" />

                        <!-- Pagination End -->
                    </div>
                </div>
            </div>
            <!-- Customers List End -->

        </div>
    </main>
</div>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('input[type=datetime]').datepicker({
            dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true, changeMonth: true,
            changeYear: true
        });
    });
</script>

<script>
    jQuery(document).ready(function($) {
        var divDelicate = $('#divDedicate');

        divDelicate.hide();

        const body = $("body");

        const pagination = [
            { selector: '.pagination a#aPage', pageId: 'this' },
            { selector: '.pagination a#aFirstPage', pageId: '1' },
            { selector: '.pagination a#aPreviousPage', pageId: Number($('#currentPage').text()) - 1 },
            { selector: '.pagination a#aNextPage', pageId: Number($('#currentPage').text()) + 1 },
            { selector: '.pagination a#aLastPage', pageId: $('#pageCount').text() }
        ];

        for (let page of pagination) {

            body.on('click', page.selector, function(e) {

                e.preventDefault();
                let pageId = page.pageId === 'this' ? $(this).text() : page.pageId;
                initAjaxFilterData(event, pageId);

            });
        }

        function initAjaxFilterData(event, pageID) {
            args = {
                'ajax_url': "@Url.Action("NotCalledNumbers")",
                'find': '.salary-container',
                'data': {
                    'addDate': $('#txtDate').val()
                },
            };
            if (typeof pageID != 'undefined') {
                args.data.pageId = pageID;
            }

            $(document.body).trigger('run_ajax_filter', [args]);
        }

        $(".form-control").on('input', initAjaxFilterData);

        $('#ui-datepicker-div').on('click', '.ui-datepicker-calendar td a', initAjaxFilterData);

        $('#sAdviser').select2();

        $('#btnDedicate').on('click', function(event) {

            event.preventDefault();

            let radios = $('#checkboxTable input');
            var selectedAdviserId = $('#sAdviser').val();
            var listIds = [];
            var listNumbers = [];

            for (let radio of radios) {

                if ($(radio).prop('checked')) {
                    const notCalledIds = $(radio).data('id');
                    const numbers = $(radio).data('number');


                    listIds.push(notCalledIds);
                    listNumbers.push(numbers);

                }
            }

            console.log(listIds);
            console.log(listNumbers);

            $.ajax({
                type: "POST",
                url: "@Url.Action("DedicateNumberToAdviser")",
                dataType: "text",
                data:
                {
                    ids: listIds,
                    nums: listNumbers,
                    adviserId: selectedAdviserId
                },
                success: function(r) {
                    location.replace("/AdminPanel/NotCalledNumbers");
                }
            });

        });

        $('#btnDedicateHide').on('click',
        function(event) {
            divDelicate.show();
        });
    });
</script>

