@using KonkurCRM.Core.Convertor
@model KonkurCRM.Core.DTOs.Pay.EditPayViewModel

@{
    ViewData["Title"] = "ویرایش پرداخت";

    int studentId = Convert.ToInt32(ViewData["StudentId"]);
}

<div id="nav" class="nav-container d-flex">
    <div class="nav-content d-flex">
        <!-- Logo Start -->
        <partial name="_Logo" />
        <!-- Logo End -->
        <!-- User Menu Start -->
        <partial name="_SidebarUserMenu" />
        <!-- User Menu End -->
        <!-- Icons Menu Start -->
        <partial name="_SidebarIconMenu" />
        <!-- Icons Menu End -->
        <!-- Menu Start -->
        <partial name="_AdviserSidebarMenu" />
        <!-- Menu End -->
        <!-- Mobile Buttons Start -->
        <div class="mobile-buttons-container">
            <!-- Menu Button Start -->
            <a href="#" id="mobileMenuButton" class="menu-button">
                <i data-cs-icon="menu"></i>
            </a>
            <!-- Menu Button End -->
        </div>
        <!-- Mobile Buttons End -->
    </div>
    <div class="nav-shadow"></div>
</div>

<main>
    <form method="post" asp-action="EditPayCash">
        <input type="hidden" asp-for="PayId" value="@Model.PayId" />
        <input type="hidden" asp-for="RegisterId" value="@Model.RegisterId" />
        <input type="hidden" asp-for="StudentId" value="@studentId" />
        <div class="col-12 col-md-5 d-flex align-items-center justify-content-start">
            <button id="btnSave" type="submit" class="btn btn-lg btn-gradient-secondary" href="#">
                <span>ثبت</span>
            </button>
        </div>
        <div class="text-center text-large text-primary" style="margin-bottom: 2rem">ویرایش پرداخت نقدی</div>
        <div class="container col-12 row">
            <div class="col-12">
                <h2 class="small-title">مشخصات</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 filled">
                            <i data-cs-icon="tv" class="text-muted"></i>
                            <input id="Amount" value="@Model.Amount" class="form-control" placeholder="مبلغ">
                            <input type="hidden" id="FinalAmount" asp-for="Amount">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="calendar" class="text-muted"></i>
                            <input type="datetime" class="form-control" asp-for="PayDate" value="@Model.PayDate.ToShamsi()" placeholder="تاریخ پرداخت">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="note" class="text-muted"></i>
                            <input class="form-control" asp-for="PursuitCode" placeholder="کد پیگیری">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="file-text" class="text-muted"></i>
                            <textarea rows="5" class="form-control" asp-for="Description" placeholder="توضیحات"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

<script type="text/javascript">

    jQuery(document).ready(function($) {


        $(window).on('load',
            function() {
                let number = $('#Amount').val();
                $('#Amount').val(numberToPrice(number));
            });

        $('#Amount').on('input',
            function() {
                let number = $('#Amount').val();
                $('#Amount').val(numberToPrice(number));
                let formatNumber = $('#Amount').val();
                $('#FinalAmount').val(priceToNumber(formatNumber));
            });

        $('input[type=datetime]').datepicker({
            dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true, changeMonth: true,
            changeYear: true
        });


        function numberToPrice(number) {
            number = number.toString().replaceAll(",", "");
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        function priceToNumber(number) {
            number = number.toString().replaceAll(",", "");
            return number;
        }

        $('.time').clockTimePicker(
            {
                i18n: {
                    cancelButton: 'کنسل',
                    okButton: 'تایید'
                },
            }
        );

    });

</script>

